venv/
*__pycache__/
*.env
testing/
secrets/
*.tfvars
*.tfstate
.terraform/
postgres/eda_raw.sql
DWH_Schema.md

keys.txt
Project Roadmap.md
steps.txt

PROGRESS_STEP0-4.md

*architecture system.excalidraw